.header {
	width: 50%;
}

label.dd-selected-text {
	line-height: 40px;
}

.lang {
	float: right;
	margin-top: 40px;
	margin-right: 30px;
}

.row-profile article {
	min-height: 18em;
}

.row-profile ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
}

.profile-link {
	margin-bottom: 10px;
}

.section-title {
	width: 120px;
}

.round {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.round img {
    display: block;
/* Stretch
      height: 100%;
      width: 100%; */
	min-width: 100%;
	min-height: 100%;
}

.profile-block {
	display: inline-block;
	vertical-align: top;
}

.profile-block.picture {
	text-align: center;
}

@media only screen and (max-width: 680px) {
	.profile-block {
		display: block;
	}

	.profile-block.picture {
		width: 150px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 480px) { /* Most phones */
	.profile-block.info {
		padding-bottom: 1em;
	}
}

#SkypeButton_Call_kalayciarif_1_paraElement {
    margin-top: 0;
}

body .header {
	width: 100%;
}

body .lang {
	float: none;
	width: 260px;
	margin: auto;
}

.info th {
	width: 4em;
}
