.header {
	width: 50%;
}

label.dd-selected-text {
	line-height: 40px;
}

.lang {
	float: right;
	margin-top: 40px;
	margin-right: 30px;
}

.row-profile ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
}

.profile-link {
	margin-bottom: 10px;
}

.section-title {
	width: 120px;
}

.row-profile .info {
  	clear: none;
}

.row-profile .round {
	float: left;
}

.round {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.round img {
    display: block;
/* Stretch
      height: 100%;
      width: 100%; */
	min-width: 100%;
	min-height: 100%;
}
